/* sidebar */
.wrapper-1_HaEi {
  width: 62px;
}

.listItem-3SmSlK {
  width: 20px;
  padding: 0px 22px 0px 22px;
}


.homeIcon-r0w4ny {display: none !important;}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
	background-color: transparent;
}

.tutorialContainer-1pL9QS .childWrapper-1j_1ub {
	background-image: var(--home-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  border-radius: 15px;
}

.item-2LIpTv {
  background-color: red;
}

span.item-2LIpTv {
  background-color: red;
}
